
.PlayerControlsNeo__progress-container { display: none; }

.ltr-13q34j2 { display: none; }
.ltr-pw0kjc { display: none; }

div[data-uia="timeline"] { display: none; }
span[data-uia="controls-time-remaining"] { display: none; }
